*, *::before, *::after {
    box-sizing: border-box;
    
}
.py-4 {
    padding-top: 1.5rem !important;}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x, 1.5rem);
        padding-left: var(--bs-gutter-x, 1.5rem);}
    
h6{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
  }
  
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  table {
    caption-side: bottom;
    border-collapse: collapse;
  }
  
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #67748e;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #67748e;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #67748e;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #67748e;
    vertical-align: top;
    border-color: #e9ecef;
  }
  
  .table> :not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
  
  .table>tbody {
    vertical-align: inherit;
  }
  
  .table>thead {
    vertical-align: bottom;
  }
  
  .table> :not(:first-child) {
    border-top: 2px solid currentColor;
  }
  .table-sm> :not(caption)>*>* {
    padding: 0.25rem 0.25rem;
  }
  
  .table-bordered> :not(caption)>* {
    border-width: 1px 0;
  }
  
  .table-bordered> :not(caption)>*>* {
    border-width: 0 1px;
  }
  
  .table-borderless> :not(caption)>*>* {
    border-bottom-width: 0;
  }
  
  .table-borderless> :not(:first-child) {
    border-top-width: 0;
  }
  
  .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
  }
  
  .table-active {
    --bs-table-accent-bg: var(--bs-table-active-bg);
    color: var(--bs-table-active-color);
  }
  
  .table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
  }
  
  .table-primary {
    --bs-table-bg: #f5ceec;
    --bs-table-striped-bg: #e9c4e0;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #ddb9d4;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e3bfda;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #ddb9d4;
  }
  
  .table-secondary {
    --bs-table-bg: #e6e9ee;
    --bs-table-striped-bg: #dbdde2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #cfd2d6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d5d8dc;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #cfd2d6;
  }
  
  .table-success {
    --bs-table-bg: #e6f7d0;
    --bs-table-striped-bg: #dbebc6;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #cfdebb;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d5e4c0;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #cfdebb;
  }
  
  .table-info {
    --bs-table-bg: #d1f3fa;
    --bs-table-striped-bg: #c7e7ee;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bcdbe1;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #c1e1e7;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #bcdbe1;
  }
  
  .table-warning {
    --bs-table-bg: #fef5d6;
    --bs-table-striped-bg: #f1e9cb;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #e5ddc1;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #ebe3c6;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #e5ddc1;
  }
  
  .table-danger {
    --bs-table-bg: #fbcdcd;
    --bs-table-striped-bg: #eec3c3;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #e2b9b9;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e8bebe;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #e2b9b9;
  }
  
  .table-light {
    --bs-table-bg: #e9ecef;
    --bs-table-striped-bg: #dde0e3;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #d2d4d7;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d8dadd;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #d2d4d7;
  }
  
  .table-dark {
    --bs-table-bg: #344767;
    --bs-table-striped-bg: #3e506f;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #485976;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #435572;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #485976;
  }
  
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table {
    border-collapse: inherit;
  }
  
  .table thead th {
    padding: 0.75rem 1.5rem;
    text-transform: capitalize;
    letter-spacing: 0px;
    border-bottom: 1px solid #e9ecef;
  }
  
  .table th {
    font-weight: 600;
  }
  
  .table td .progress {
    height: 3px;
    width: 120px;
    margin: 0;
  }
  
  .table td,
  .table th {
    white-space: nowrap;
  }
  
  .table.align-items-center td,
  .table.align-items-center th {
    vertical-align: middle;
  }
  
  .table tbody tr:last-child td {
    border-width: 0;
  }
  
  .table> :not(:last-child)> :last-child>* {
    border-bottom-color: #e9ecef;
  }
 
  